{% extends "app_sw/base.html" %}
{% load static %}


{% block title %} Planets {% endblock %}

{% block css_additional %}
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app_sw/css/planets.css' %}">
{% endblock %}


{% block content %}

<section class="planets">
    <ul class="nav justify-content-center">
        {% for planet in planets %}
        <li class="nav-item">
            <a class="nav-link planet-link" href='{% url "planet_detail" forloop.counter %}'>{{planet.name}}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

