* {
    background: black;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background: transparent;
}


.nav {
    padding-top: 30px;
    padding-bottom: 30px;

    font-family: 'Star Wars', sans-serif;

    .nav-link-logo {
        font-size: 70px;
    }

    a {
        font-size: 30px;
        color: #f7e028;
        text-decoration: none;
        margin: 0 20px 0 20px;

        :hover:not(.nav-link-logo) {
            color: #289dcc;
            transition: .5s ease;
        }

    }


}