.people {
    text-align: center;
    font-family: 'Press Start 2P', cursive;

    h4 {
        color: red;
    }

    .nav {
        font-family: 'Press Start 2P', cursive;

        li {
            color: white;
            font-size: 18px;
            padding-right: 10px;
            display: inline-block;

        }

    }

}